<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/sandstone.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/backend.styles.css" asp-append-version="true" />
</head>
<body>
	<header class="p-3 text-bg-dark">
		<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<a class="d-inline-flex link-body text-decoration-none mx-2 fs-5 link-info" 
			asp-area="" asp-controller="Home" asp-action="Index">Home</a>

			<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
				<li><a class="nav-link px-2 link-info" asp-area="" asp-controller="About" asp-action="Index">About</a></li>
				<li><a class="nav-link px-2 link-info" asp-area="" asp-controller="Questionnaire" asp-action="Index">Ankets</a></li>
				<li><a class="nav-link px-2 link-info" asp-area="" asp-controller="Profile" asp-action="Index">Profile</a></li>
			</ul>

			<form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 d-flex flex-wrap" role="search">
				<div class="mx-1">
					<input type="search" class="form-control form-control-dark text-bg-light" placeholder="Search..." aria-label="Search">
				</div>
				<div class="mx-1">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>

			<div class="text-end">
				<button type="button" class="btn btn-outline-light me-2">Login</button>
				<button type="button" class="btn btn-light">Sign-up</button>
			</div>
		</div>
	</header>

	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2024 - backend - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="~/lib/poppers.js/umd/popper.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
